[Unit]
Description=MBusd service gateway
After=network-online.target

[Service]
Type=simple

#Environment=PATH="${PATH}:/opt/node/bin"

User=mbusd
Group=mbusd
UMask=007

# debug -v0 to -v9
# responce time -W40 => 40ms
ExecStart=/usr/local/bin/mbusd -v0 -d -P5252 -t -s115200 -M 8N1 -W40 -p /dev/ttyUSB0

Restart=on-failure
RestartSec=60

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
